.wrapper {
  display: flex;
  flex-direction: column; /* Elements are stacked vertically */
  align-items: center;
  padding: 10px 20px;
}

/* Style for the h1 element */
h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px; /* Add some bottom margin to create space */
}

/* Style for the p element */
p {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px; /* Add some bottom margin to create space */
}

/* Style for the buttonWrapper */
.buttonWrapper {
  display: flex;
  flex-direction: column; /* Buttons are stacked vertically */
  align-items: center;
}

/* Style for the button element */
button {
  background-color: #1CB94E;
  color: #fff;
  border: none;
  outline: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 10px; /* Add some bottom margin for spacing */
}

/* Hover effect for the button */
button:hover {
  background-color: #15a13f;
}

.pError {
  color: red;
  font-size: 16px;
  margin-bottom: 10px;
}

/* Menu.css */
.signOutButton {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10px; /* Add some bottom margin for spacing */
}

.signOutButton:hover {
  background-color: darkred;
}

.menuImg {
  width: 35vw;
  height: auto;
  border-radius: 10px;
}